In [1]:
import pandas as pd 
import numpy as np
import data_utils as du

In [2]:
#Instalar si se necesita
#pip install scikit-learn

In [3]:
#cargando tablas
df_rock = pd.read_csv("UltimateClassicRock.csv")
df_spotify = pd.read_csv("archive/track_data_final.csv",  encoding='latin1')
df_billboard = pd.read_csv("Full_Billboard.csv", encoding='latin1')

#### Primera Vision de las tablas

In [4]:
#Viendo los valores de la tabla rock
df_rock.head()

,Track,Artist,Album,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity
0,Play A Simple Song,38 Special,38 Special,1977,3:13,4,0.521,0.367,0,-13.866,1,0.0278,0.6920,0.000003,0.1080,0.789,83.412,16
1,Four Wheels,38 Special,38 Special,1977,4:43,4,0.535,0.710,2,-12.287,1,0.0428,0.0100,0.023000,0.0495,0.445,160.361,10
2,Fly Away,38 Special,38 Special,1977,5:13,4,0.563,0.563,2,-10.781,1,0.0263,0.0357,0.001850,0.1400,0.564,106.739,13
3,Tell Everybody,38 Special,38 Special,1977,4:09,4,0.638,0.694,11,-10.206,0,0.0310,0.1610,0.000034,0.0908,0.936,124.962,10
4,Just Wanna Rock & Roll,38 Special,38 Special,1977,5:57,4,0.388,0.701,2,-9.984,1,0.0360,0.0130,0.042200,0.1150,0.769,126.769,11

In [5]:
#Viendo los valores de la spotify 
du.show_total_info(df_spotify, 5)

HEAD:

,track_id,track_name,track_number,track_popularity,track_duration_ms,explicit,artist_name,artist_popularity,artist_followers,artist_genres,album_id,album_name,album_release_date,album_total_tracks,album_type
0,6pymOcrCnMuCWdgGVTvUgP,3,57,61,213173,False,Britney Spears,80.0,17755451.0,['pop'],325wcm5wMnlfjmKZ8PXIIn,The Singles Collection,2009-11-09,58,compilation
1,2lWc1iJlz2NVcStV5fbtPG,Clouds,1,67,158760,False,BUNT.,69.0,293734.0,['stutter house'],2ArRQNLxf9t0O0gvmG5Vsj,Clouds,2023-01-13,1,single
2,1msEuwSBneBKpVCZQcFTsU,Forever & Always (Taylorâs Version),11,63,225328,False,Taylor Swift,100.0,145396321.0,[],4hDok0OAJd57SGIT8xuWJH,Fearless (Taylor's Version),2021-04-09,26,album
3,7bcy34fBT2ap1L4bfPsl9q,I Didn't Change My Number,2,72,158463,True,Billie Eilish,90.0,118692183.0,[],0JGOiO34nwfUdDrD612dOp,Happier Than Ever,2021-07-30,16,album
4,0GLfodYacy3BJE7AI3A8en,Man Down,7,57,267013,False,Rihanna,90.0,68997177.0,[],5QG3tjE5L9F6O2vCAPph38,Loud,2010-01-01,13,album

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   track_id            8778 non-null   object
 1   track_name          8776 non-null   object
 2   track_number        8778 non-null   int64
 3   track_popularity    8778 non-null   int64
 4   track_duration_ms   8778 non-null   int64
 5   explicit            8778 non-null   bool
 6   artist_name         8774 non-null   object
 7   artist_popularity   8774 non-null   float64
 8   artist_followers    8774 non-null   float64
 9   artist_genres       8774 non-null   object
 10  album_id            8778 non-null   object
 11  album_name          8776 non-null   object
 12  album_release_date  8778 non-null   object
 13  album_total_tracks  8778 non-null   int64
 14  album_type          8778 non-null   object
dtypes: bool(1), float64(2), int64(4), object(8)
memory usage: 968.8+ KB

DESCRIBE:

,track_number,track_popularity,track_duration_ms,artist_popularity,artist_followers,album_total_tracks
count,8778.000000,8778.000000,8778.000000,8774.000000,8.774000e+03,8778.000000
mean,5.749487,52.232855,210157.791866,69.954981,2.435487e+07,13.779790
std,6.017938,24.075221,63326.841454,19.532783,3.813769e+07,11.797943
min,1.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000
25%,1.000000,39.000000,173921.250000,60.000000,5.152768e+05,6.000000
50%,4.000000,58.000000,207276.000000,74.000000,6.272266e+06,13.000000
75%,9.000000,71.000000,239693.250000,84.000000,3.055055e+07,17.000000
max,102.000000,100.000000,811077.000000,100.000000,1.455421e+08,181.000000

SHAPE:
(8778, 15)

In [6]:
#Viendo los valores de la billboard 
df_billboard.head()

  No.              Title      Artist(s)  Year
0   1   Prisoner of Love     Perry Como  1946
1   2    To Each His Own    Eddy Howard  1946
2   3          The Gypsy      Ink Spots  1946
3   4  Five Minutes More  Frank Sinatra  1946
4   5  Rumors Are Flying  Frankie Carle  1946

#### Unificando nombre de las columnas y Eliminacion

In [7]:
#Viendo los nombres de columnas de la tabla rock
df_rock.columns

Index(['Track', 'Artist', 'Album', 'Year', 'Duration', 'Time_Signature',
       'Danceability', 'Energy', 'Key', 'Loudness', 'Mode', 'Speechiness',
       'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo',
       'Popularity'],
      dtype='object')

In [8]:
#Elimininamos columnas que no vamos a utilizar en rock
df_rock = df_rock.drop(columns = ['Duration', 'Time_Signature',
       'Danceability', 'Energy', 'Key', 'Loudness', 'Mode', 'Speechiness',
       'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo'])

In [9]:
#Viendo los nombres de columnas de la tabla spotify
df_spotify.columns

Index(['track_id', 'track_name', 'track_number', 'track_popularity',
       'track_duration_ms', 'explicit', 'artist_name', 'artist_popularity',
       'artist_followers', 'artist_genres', 'album_id', 'album_name',
       'album_release_date', 'album_total_tracks', 'album_type'],
      dtype='object')

In [10]:
#Eliminamos columnas de df_spotify que no vamos a utilizar
df_spotify = df_spotify.drop(columns = ['track_id', 'track_number','track_duration_ms', 'explicit', 
                                        'album_total_tracks', 'album_type'])

In [11]:
#pasando todo a minusculas para unificar nombres de columnas
df_rock.columns = df_rock.columns.str.lower().str.strip().str.replace(" ", "_")
df_billboard.columns = df_billboard.columns.str.lower().str.strip().str.replace(" ", "_")

In [12]:
#verificamos cambios en el database rock
df_rock.head()

                    track      artist       album  year  popularity
0      Play A Simple Song  38 Special  38 Special  1977          16
1             Four Wheels  38 Special  38 Special  1977          10
2                Fly Away  38 Special  38 Special  1977          13
3          Tell Everybody  38 Special  38 Special  1977          10
4  Just Wanna Rock & Roll  38 Special  38 Special  1977          11

In [13]:
#modificamos nombre de la tabla spotify 
df_spotify = df_spotify.rename(columns= {'track_popularity': 'popularity', 'album_release_date' : 'year', 
                    'artist_genres' : 'genre_name'})

In [14]:
#modificamos nombre de la tabla rock
df_rock = df_rock.rename(columns= {'track': 'track_name', 'artist' : 'artist_name', 
                    'album' : 'album_name'})

In [15]:
#modificamos nombre de la tabla billboard 
df_billboard = df_billboard.rename(columns={'title': 'track_name',
                                            'artist(s)': 'artist_name',
                                            'no.': 'rank'})

In [16]:
#verificamos los cambios
df_spotify.head()

,track_name,popularity,artist_name,artist_popularity,artist_followers,genre_name,album_id,album_name,year
0,3,61,Britney Spears,80.0,17755451.0,['pop'],325wcm5wMnlfjmKZ8PXIIn,The Singles Collection,2009-11-09
1,Clouds,67,BUNT.,69.0,293734.0,['stutter house'],2ArRQNLxf9t0O0gvmG5Vsj,Clouds,2023-01-13
2,Forever & Always (Taylorâs Version),63,Taylor Swift,100.0,145396321.0,[],4hDok0OAJd57SGIT8xuWJH,Fearless (Taylor's Version),2021-04-09
3,I Didn't Change My Number,72,Billie Eilish,90.0,118692183.0,[],0JGOiO34nwfUdDrD612dOp,Happier Than Ever,2021-07-30
4,Man Down,57,Rihanna,90.0,68997177.0,[],5QG3tjE5L9F6O2vCAPph38,Loud,2010-01-01

In [17]:
#Cambiamos la columna year en spotify para quedanos solo con el año y lo pasamos a tipo int 
df_spotify['year'] = pd.to_datetime(df_spotify['year'], errors='coerce').dt.year
df_spotify['year'] = df_spotify['year'].astype('Int64')

In [18]:
#creando una columna genero para la tabla rock
df_rock['genre_name'] = 'rock'
df_rock

,track_name,artist_name,album_name,year,popularity,genre_name
0,Play A Simple Song,38 Special,38 Special,1977,16,rock
1,Four Wheels,38 Special,38 Special,1977,10,rock
2,Fly Away,38 Special,38 Special,1977,13,rock
3,Tell Everybody,38 Special,38 Special,1977,10,rock
4,Just Wanna Rock & Roll,38 Special,38 Special,1977,11,rock
...,...,...,...,...,...,...
14413,Consumption,ZZ Top,La Futura,2012,9,rock
14414,"I Don't Wanna Lose, Lose, You",ZZ Top,La Futura,2012,8,rock
14415,Have A Little Mercy,ZZ Top,La Futura,2012,8,rock
14416,Flyin' High,ZZ Top,La Futura,2012,9,rock
14417,Heartache In Blue,ZZ Top,La Futura,2012,8,rock

#### Limpiando nombres de canciones

In [19]:
#Creamos esta funcion para verificar nombres de canciones
def clean_artist_name(s):
    return (
        s.str.lower()
         .str.replace(r" featuring.*", "", regex=True)
         .str.replace(r" feat.*", "", regex=True)
         .str.replace(r"&.*", "", regex=True)
         .str.strip()
    )

In [20]:
#Utilizamos la funcion en las tres tablas
df_rock["artist_name"] = clean_artist_name(df_rock["artist_name"])
df_billboard["artist_name"] = clean_artist_name(df_billboard["artist_name"])
df_spotify["artist_name"] = clean_artist_name(df_spotify["artist_name"])

In [21]:
#viendo valores nulos en la 
du.mis_dupl(df_rock)

Missing values:
track_name     0
artist_name    0
album_name     0
year           0
popularity     0
genre_name     0
dtype: int64
Duplicates values:
0

In [22]:
#viendo la cantidad de nulos en year que son un 2%
du.mis_dupl(df_spotify)

Missing values:
track_name             2
popularity             0
artist_name            4
artist_popularity      4
artist_followers       4
genre_name             4
album_id               0
album_name             2
year                 201
dtype: int64
Duplicates values:
0

In [23]:
#Eliminando filas de year y artist_name con datos faltantes en la tabla spotify
df_spotify = df_spotify.dropna(subset=['year', 'artist_name'])

In [25]:
#los años esten correctos en todas las tablas
df_rock = df_rock[df_rock['year'].between(1950, 2025)]
df_spotify = df_spotify[df_spotify['year'].between(1950, 2025)]
df_billboard = df_billboard[df_billboard['year'].between(1950, 2025)]

In [26]:
billboard_artists = set(df_billboard["artist_name"])
rock_artists = set(df_rock["artist_name"])

only_in_billboard = billboard_artists - rock_artists

len(only_in_billboard)

2662

#### Pasando tablas limpias al CSV

In [26]:

df_spotify.to_csv("spotify_clean.csv", index=False, encoding="utf-8-sig")

In [27]:
df_rock.to_csv("rock_clean.csv", index=False, encoding="utf-8-sig")

In [86]:
df_billboard.to_csv("billboard_clean.csv", index=False, encoding="utf-8")

### Python a SQL

In [36]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input

In [37]:
bd = "proyecto_sql_rock"
connection_string = 'mysql+pymysql://root:' + 'Sg30rg3rrm4rt1n!l' + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/proyecto_sql_rock)

In [38]:
import mysql.connector

In [39]:
conn = mysql.connector.connect(host='localhost',
                        user='root',
                        passwd='Sg30rg3rrm4rt1n!l')

In [40]:
cursor = conn.cursor()

cursor

In [41]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES;"))
    for row in result:
        print(row)

In [42]:
df_rock.to_sql(
    "rock_clean",
    engine,
    if_exists="replace",
    index=False
)

14418

In [43]:
df_spotify.to_sql(
    "spotify_clean",
    engine,
    if_exists="replace",
    index=False
)

8573

In [44]:
df_billboard.to_sql(
    "billboard_clean",
    engine,
    if_exists="replace",
    index=False
)

6632

In [45]:
from sqlalchemy import text

with engine.connect() as conn:
    print(conn.execute(text("SHOW TABLES;")).fetchall())

[('billboard_clean',), ('rock_clean',), ('spotify_clean',)]