# El papel del rock en la era del streaming

## Importando librerias y carga de las tablas

In [1]:
import pandas as pd 
import numpy as np
import data_utils as du
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
import mysql.connector
from sqlalchemy import text

In [2]:
#Instalar si se necesita
#pip install scikit-learn

In [3]:
#cargando tablas
df_rock = pd.read_csv("tablas/UltimateClassicRock.csv")
df_spotify = pd.read_csv("tablas/track_data_final.csv",  encoding='latin1')
df_billboard = pd.read_csv("tablas/Full_Billboard.csv", encoding='latin1')

## Primera Vision de los datos, utilizando la función data_utils

In [4]:
#Viendo los valores de la tabla rock
du.show_total_info(df_rock, 1)

HEAD:

,Track,Artist,Album,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity
0,Play A Simple Song,38 Special,38 Special,1977,3:13,4,0.521,0.367,0,-13.866,1,0.0278,0.692,0.000003,0.108,0.789,83.412,16

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14418 entries, 0 to 14417
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track             14418 non-null  object
 1   Artist            14418 non-null  object
 2   Album             14418 non-null  object
 3   Year              14418 non-null  int64
 4   Duration          14418 non-null  object
 5   Time_Signature    14418 non-null  int64
 6   Danceability      14418 non-null  float64
 7   Energy            14418 non-null  float64
 8   Key               14418 non-null  int64
 9   Loudness          14418 non-null  float64
 10  Mode              14418 non-null  int64
 11  Speechiness       14418 non-null  float64
 12  Acousticness      14418 non-null  float64
 13  Instrumentalness  14418 non-null  float64
 14  Liveness          14418 non-null  float64
 15  Valence           14418 non-null  float64
 16  Tempo             14418 non-null  float64
 17  Popularity        14418 non-null  int64
dtypes: float64(9), int64(5), object(4)
memory usage: 2.0+ MB

DESCRIBE:

,Year,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity
count,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000
mean,1987.634693,3.917811,0.503063,0.656563,5.166597,-9.438675,0.730129,0.051354,0.226924,0.089682,0.210653,0.528818,122.641620,25.394438
std,15.318819,0.356628,0.142619,0.229607,3.503423,4.179623,0.443908,0.046291,0.268857,0.215783,0.180537,0.243557,27.940743,15.090860
min,1962.000000,0.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1975.000000,4.000000,0.405000,0.493000,2.000000,-11.914250,0.000000,0.031800,0.013100,0.000013,0.093800,0.338000,102.196500,14.000000
50%,1983.000000,4.000000,0.509000,0.690500,5.000000,-8.810500,1.000000,0.039000,0.104000,0.000737,0.140000,0.529000,121.859000,23.000000
75%,1999.000000,4.000000,0.603000,0.854000,9.000000,-6.341500,1.000000,0.054300,0.370000,0.028375,0.278000,0.724750,139.228000,34.000000
max,2024.000000,5.000000,0.987000,0.998000,11.000000,-0.203000,1.000000,0.952000,0.995000,0.992000,1.000000,0.991000,238.895000,91.000000

SHAPE:
(14418, 18)

In [5]:
#Viendo los valores de la tabla spotify 
du.show_total_info(df_spotify,1)

HEAD:

,track_id,track_name,track_number,track_popularity,track_duration_ms,explicit,artist_name,artist_popularity,artist_followers,artist_genres,album_id,album_name,album_release_date,album_total_tracks,album_type
0,6pymOcrCnMuCWdgGVTvUgP,3,57,61,213173,False,Britney Spears,80.0,17755451.0,['pop'],325wcm5wMnlfjmKZ8PXIIn,The Singles Collection,2009-11-09,58,compilation

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   track_id            8778 non-null   object
 1   track_name          8776 non-null   object
 2   track_number        8778 non-null   int64
 3   track_popularity    8778 non-null   int64
 4   track_duration_ms   8778 non-null   int64
 5   explicit            8778 non-null   bool
 6   artist_name         8774 non-null   object
 7   artist_popularity   8774 non-null   float64
 8   artist_followers    8774 non-null   float64
 9   artist_genres       8774 non-null   object
 10  album_id            8778 non-null   object
 11  album_name          8776 non-null   object
 12  album_release_date  8778 non-null   object
 13  album_total_tracks  8778 non-null   int64
 14  album_type          8778 non-null   object
dtypes: bool(1), float64(2), int64(4), object(8)
memory usage: 968.8+ KB

DESCRIBE:

,track_number,track_popularity,track_duration_ms,artist_popularity,artist_followers,album_total_tracks
count,8778.000000,8778.000000,8778.000000,8774.000000,8.774000e+03,8778.000000
mean,5.749487,52.232855,210157.791866,69.954981,2.435487e+07,13.779790
std,6.017938,24.075221,63326.841454,19.532783,3.813769e+07,11.797943
min,1.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000
25%,1.000000,39.000000,173921.250000,60.000000,5.152768e+05,6.000000
50%,4.000000,58.000000,207276.000000,74.000000,6.272266e+06,13.000000
75%,9.000000,71.000000,239693.250000,84.000000,3.055055e+07,17.000000
max,102.000000,100.000000,811077.000000,100.000000,1.455421e+08,181.000000

SHAPE:
(8778, 15)

In [6]:
#Viendo los valores de la tabla billboard 
du.show_total_info(df_billboard, 1)

HEAD:

  No.             Title   Artist(s)  Year
0   1  Prisoner of Love  Perry Como  1946

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6789 entries, 0 to 6788
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No.        6789 non-null   object
 1   Title      6789 non-null   object
 2   Artist(s)  6789 non-null   object
 3   Year       6789 non-null   int64
dtypes: int64(1), object(3)
memory usage: 212.3+ KB

DESCRIBE:

              Year
count  6789.000000
mean   1987.282958
std      20.080684
min    1946.000000
25%    1971.000000
50%    1988.000000
75%    2005.000000
max    2021.000000

SHAPE:
(6789, 4)

## Limpieza y Unificación de datos

### Unificando nombre de las columnas y Eliminación

#### Eliminación columnas - Tabla Rock

In [7]:
#Viendo los nombres de columnas de la tabla rock
df_rock.columns

Index(['Track', 'Artist', 'Album', 'Year', 'Duration', 'Time_Signature',
       'Danceability', 'Energy', 'Key', 'Loudness', 'Mode', 'Speechiness',
       'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo',
       'Popularity'],
      dtype='object')

In [8]:
#Elimininamos columnas que no vamos a utilizar en rock
df_rock = df_rock.drop(columns = ['Duration', 'Time_Signature',
       'Danceability', 'Energy', 'Key', 'Loudness', 'Mode', 'Speechiness',
       'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo'])

#### Eliminación columnas - Tabla Spotify

In [9]:
#Viendo los nombres de columnas de la tabla spotify
df_spotify.columns

Index(['track_id', 'track_name', 'track_number', 'track_popularity',
       'track_duration_ms', 'explicit', 'artist_name', 'artist_popularity',
       'artist_followers', 'artist_genres', 'album_id', 'album_name',
       'album_release_date', 'album_total_tracks', 'album_type'],
      dtype='object')

In [10]:
#Eliminamos columnas de df_spotify que no vamos a utilizar
df_spotify = df_spotify.drop(columns = ['track_id', 'track_number','track_duration_ms', 'explicit', 
                                        'album_total_tracks', 'album_type'])

#### Unificación de columnas

In [11]:
#pasando todo a minusculas para unificar nombres de columnas rock y billboard
df_rock.columns = df_rock.columns.str.lower().str.strip().str.replace(" ", "_")
df_billboard.columns = df_billboard.columns.str.lower().str.strip().str.replace(" ", "_")

#### Modificación de nombres de columnas

In [12]:
#modificamos nombre de la tabla spotify 
df_spotify = df_spotify.rename(columns= {'track_popularity': 'popularity', 'album_release_date' : 'year', 
                    'artist_genres' : 'genre_name'})

In [13]:
#modificamos nombre de la tabla rock
df_rock = df_rock.rename(columns= {'track': 'track_name', 'artist' : 'artist_name', 
                    'album' : 'album_name'})

In [14]:
#modificamos nombre de la tabla billboard 
df_billboard = df_billboard.rename(columns={'title': 'track_name',
                                            'artist(s)': 'artist_name',
                                            'no.': 'rank'})

### Creación de la columna genre_name en tabla rock, y modificación de tipos de datos

In [15]:
#Cambiamos la columna year en spotify para quedanos solo con el año y lo pasamos a tipo int 
df_spotify['year'] = pd.to_datetime(df_spotify['year'], errors='coerce').dt.year
df_spotify['year'] = df_spotify['year'].astype('Int64')

In [16]:
#creando una columna genero para la tabla rock
df_rock['genre_name'] = 'rock'
df_rock

,track_name,artist_name,album_name,year,popularity,genre_name
0,Play A Simple Song,38 Special,38 Special,1977,16,rock
1,Four Wheels,38 Special,38 Special,1977,10,rock
2,Fly Away,38 Special,38 Special,1977,13,rock
3,Tell Everybody,38 Special,38 Special,1977,10,rock
4,Just Wanna Rock & Roll,38 Special,38 Special,1977,11,rock
...,...,...,...,...,...,...
14413,Consumption,ZZ Top,La Futura,2012,9,rock
14414,"I Don't Wanna Lose, Lose, You",ZZ Top,La Futura,2012,8,rock
14415,Have A Little Mercy,ZZ Top,La Futura,2012,8,rock
14416,Flyin' High,ZZ Top,La Futura,2012,9,rock
14417,Heartache In Blue,ZZ Top,La Futura,2012,8,rock

## Limpienza de las columnas de artist_name y Verificación de nulos

### Limpiando nombres de canciones

In [17]:
#Creamos esta funcion para verificar nombres de canciones
def clean_artist_name(s):
    return (
        s.str.lower()
         .str.replace(r" featuring.*", "", regex=True)
         .str.replace(r" feat.*", "", regex=True)
         .str.replace(r"&.*", "", regex=True)
         .str.strip()
    )

In [18]:
#Utilizamos la funcion en las tres tablas
df_rock["artist_name"] = clean_artist_name(df_rock["artist_name"])
df_billboard["artist_name"] = clean_artist_name(df_billboard["artist_name"])
df_spotify["artist_name"] = clean_artist_name(df_spotify["artist_name"])

### Verificamos que no hayan nulos o filas duplicadas

In [19]:
#viendo valores nulos en la tabla rock
du.mis_dupl(df_rock)

Missing values:
track_name     0
artist_name    0
album_name     0
year           0
popularity     0
genre_name     0
dtype: int64
Duplicates values:
0

In [20]:
#viendo valores nulos en la tabla billboard
du.mis_dupl(df_billboard)

Missing values:
rank           0
track_name     0
artist_name    0
year           0
dtype: int64
Duplicates values:
0

In [21]:
#viendo valores nulos en la tabla spotify - 2% year, y algunos en artist_name 
du.mis_dupl(df_spotify)

Missing values:
track_name             2
popularity             0
artist_name            4
artist_popularity      4
artist_followers       4
genre_name             4
album_id               0
album_name             2
year                 201
dtype: int64
Duplicates values:
0

### Eliminación de valores nulos en Spotify

In [22]:
#Eliminando filas de year y artist_name con datos faltantes en la tabla spotify
df_spotify = df_spotify.dropna(subset=['year', 'artist_name'])

### Verificación de intervalos en la columna year

In [23]:
#los años esten correctos en todas las tablas
df_rock = df_rock[df_rock['year'].between(1950, 2025)]
df_spotify = df_spotify[df_spotify['year'].between(1950, 2025)]
df_billboard = df_billboard[df_billboard['year'].between(1950, 2025)]

# Haciendo conexión con el MySQL

## Introducción de contraseña MySQL, y creación de conexión

In [24]:
bd = "proyecto_sql_rock"
password = getpass.getpass("Introduce tu contraseña MySQL: ")
connection_string = f"mysql+pymysql://root:{password}@localhost/{bd}"
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/proyecto_sql_rock)

In [25]:
with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES;"))
    for row in result:
        print(row)

('artists',)
('billboard_clean',)
('rock_clean',)
('spotify_clean',)

#### Cargamos las tablas

In [42]:
df_rock.to_sql(
    "rock_clean",
    engine,
    if_exists="replace",
    index=False
)

14418

In [43]:
df_spotify.to_sql(
    "spotify_clean",
    engine,
    if_exists="replace",
    index=False
)

8573

In [44]:
df_billboard.to_sql(
    "billboard_clean",
    engine,
    if_exists="replace",
    index=False
)

6632

#### Verificamos si la carga fue correcta

In [26]:
#Verificamos que se crearon las tablas
with engine.connect() as conn:
    print(conn.execute(text("SHOW TABLES;")).fetchall())

[('artists',), ('billboard_clean',), ('rock_clean',), ('spotify_clean',)]

# Creación del Merge

## Primer Merge Entre Billboard y Spotify

In [27]:
#Primero realizamos el merge entre billboard y spotify con columnas especificas 
billboard_spotify = df_billboard.merge(
    df_spotify[["artist_name", "popularity", "genre_name", "year"]],
    on="artist_name",
    how="inner"
)

billboard_spotify.head()

,rank,track_name,artist_name,year_x,popularity,genre_name,year_y
0,29,Only You (And You Alone),the platters,1955,0,['doo-wop'],2024
1,4,My Prayer,the platters,1956,0,['doo-wop'],2024
2,12,The Great Pretender,the platters,1956,0,['doo-wop'],2024
3,36,(You've Got) The Magic Touch,the platters,1956,0,['doo-wop'],2024
4,22,School Days,chuck berry,1957,74,"['rockabilly', 'rock and roll']",1959

### Observación de los datos obtenidos

In [28]:
#Renombramos columnas year de cada tabla
billboard_spotify = billboard_spotify.rename(columns={
    "year_x": "billboard_year",
    "year_y": "spotify_year"
})

In [29]:
#Analizamos los datos agrupando 
billboard_spotify.groupby("artist_name")["popularity"].mean().sort_values(ascending=False).head(2)

artist_name
the police         90.0
tears for fears    87.0
Name: popularity, dtype: float64

In [30]:
#Analizamos popularidad 
billboard_spotify.groupby("artist_name", as_index=False)["popularity"].mean().head(2)

  artist_name  popularity
0    2 chainz   63.500000
1   21 savage   62.285714

## Merge Final con la tabla Rock

In [31]:
df_merge_final = billboard_spotify.merge(
    df_rock,
    on="artist_name",
    how="left",
    indicator=True
)

In [32]:
#observación del merge final 
df_merge_final.head()

,rank,track_name_x,artist_name,billboard_year,popularity_x,genre_name_x,spotify_year,track_name_y,album_name,year,popularity_y,genre_name_y,_merge
0,29,Only You (And You Alone),the platters,1955,0,['doo-wop'],2024,NaN,NaN,NaN,NaN,NaN,left_only
1,4,My Prayer,the platters,1956,0,['doo-wop'],2024,NaN,NaN,NaN,NaN,NaN,left_only
2,12,The Great Pretender,the platters,1956,0,['doo-wop'],2024,NaN,NaN,NaN,NaN,NaN,left_only
3,36,(You've Got) The Magic Touch,the platters,1956,0,['doo-wop'],2024,NaN,NaN,NaN,NaN,NaN,left_only
4,22,School Days,chuck berry,1957,74,"['rockabilly', 'rock and roll']",1959,NaN,NaN,NaN,NaN,NaN,left_only

### ELiminación de duplicados creados al hacerse el merge

In [33]:
df_merge_final =df_merge_final.drop_duplicates()

### Observación final de los datos

In [34]:
# Visualizamos los datos obtenidos despues de hacer el merge
du.show_total_info(df_merge_final, 1)

HEAD:

,rank,track_name_x,artist_name,billboard_year,popularity_x,genre_name_x,spotify_year,track_name_y,album_name,year,popularity_y,genre_name_y,_merge
0,29,Only You (And You Alone),the platters,1955,0,['doo-wop'],2024,NaN,NaN,NaN,NaN,NaN,left_only

INFO:
<class 'pandas.core.frame.DataFrame'>
Index: 195806 entries, 0 to 208506
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   rank            195806 non-null  object
 1   track_name_x    195806 non-null  object
 2   artist_name     195806 non-null  object
 3   billboard_year  195806 non-null  int64
 4   popularity_x    195806 non-null  int64
 5   genre_name_x    195806 non-null  object
 6   spotify_year    195806 non-null  Int64
 7   track_name_y    165046 non-null  object
 8   album_name      165046 non-null  object
 9   year            165046 non-null  float64
 10  popularity_y    165046 non-null  float64
 11  genre_name_y    165046 non-null  object
 12  _merge          195806 non-null  category
dtypes: Int64(1), category(1), float64(2), int64(2), object(7)
memory usage: 19.8+ MB

DESCRIBE:

,billboard_year,popularity_x,spotify_year,year,popularity_y
count,195806.000000,195806.000000,195806.0,165046.000000,165046.000000
mean,1987.135313,61.870382,1998.97399,1985.582971,28.968015
std,13.784809,21.172303,19.004067,14.085520,14.728511
min,1955.000000,0.000000,1959.0,1962.000000,0.000000
25%,1976.000000,53.000000,1984.0,1974.000000,18.000000
50%,1984.000000,68.000000,1994.0,1982.000000,26.000000
75%,1994.000000,78.000000,2021.0,1995.000000,36.000000
max,2021.000000,100.000000,2025.0,2024.000000,87.000000

SHAPE:
(195806, 13)

In [35]:
# Observación de duplicados
du.mis_dupl(df_merge_final)

Missing values:
rank                  0
track_name_x          0
artist_name           0
billboard_year        0
popularity_x          0
genre_name_x          0
spotify_year          0
track_name_y      30760
album_name        30760
year              30760
popularity_y      30760
genre_name_y      30760
_merge                0
dtype: int64
Duplicates values:
0

# Creación CSV de nuestro merge

In [37]:
df_merge_final.to_csv("billboard_spotify_final.csv", index=False)