In [1]:
import pandas as pd 
import numpy as np

In [2]:
#pip install scikit-learn

In [3]:
df_rock = pd.read_csv("UltimateClassicRock.csv")

In [4]:
df_spotify = pd.read_csv("archive/track_data_final.csv",  encoding='latin1')

In [5]:
df_billboard = pd.read_csv(
    "archive/Full_Billboard_year_end_hot_100_USA.csv",
    encoding="latin1"
)

In [6]:
df_rock

,Track,Artist,Album,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity
0,Play A Simple Song,38 Special,38 Special,1977,3:13,4,0.521,0.367,0,-13.866,1,0.0278,0.692000,0.000003,0.1080,0.789,83.412,16
1,Four Wheels,38 Special,38 Special,1977,4:43,4,0.535,0.710,2,-12.287,1,0.0428,0.010000,0.023000,0.0495,0.445,160.361,10
2,Fly Away,38 Special,38 Special,1977,5:13,4,0.563,0.563,2,-10.781,1,0.0263,0.035700,0.001850,0.1400,0.564,106.739,13
3,Tell Everybody,38 Special,38 Special,1977,4:09,4,0.638,0.694,11,-10.206,0,0.0310,0.161000,0.000034,0.0908,0.936,124.962,10
4,Just Wanna Rock & Roll,38 Special,38 Special,1977,5:57,4,0.388,0.701,2,-9.984,1,0.0360,0.013000,0.042200,0.1150,0.769,126.769,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14413,Consumption,ZZ Top,La Futura,2012,3:47,4,0.403,0.892,0,-1.900,0,0.0505,0.038600,0.000221,0.1770,0.398,120.023,9
14414,"I Don't Wanna Lose, Lose, You",ZZ Top,La Futura,2012,4:20,4,0.521,0.872,2,-1.722,1,0.0338,0.000437,0.008590,0.2030,0.385,117.950,8
14415,Have A Little Mercy,ZZ Top,La Futura,2012,3:18,4,0.336,0.857,5,-1.715,0,0.1210,0.175000,0.000010,0.1040,0.426,191.811,8
14416,Flyin' High,ZZ Top,La Futura,2012,4:17,4,0.633,0.972,11,-1.345,0,0.1240,0.039700,0.000003,0.5910,0.305,117.824,9
14417,Heartache In Blue,ZZ Top,La Futura,2012,4:09,4,0.544,0.843,11,-0.239,0,0.0318,0.037900,0.000259,0.0637,0.612,90.084,8

In [7]:
df_spotify

,track_id,track_name,track_number,track_popularity,track_duration_ms,explicit,artist_name,artist_popularity,artist_followers,artist_genres,album_id,album_name,album_release_date,album_total_tracks,album_type
0,6pymOcrCnMuCWdgGVTvUgP,3,57,61,213173,False,Britney Spears,80.0,17755451.0,['pop'],325wcm5wMnlfjmKZ8PXIIn,The Singles Collection,2009-11-09,58,compilation
1,2lWc1iJlz2NVcStV5fbtPG,Clouds,1,67,158760,False,BUNT.,69.0,293734.0,['stutter house'],2ArRQNLxf9t0O0gvmG5Vsj,Clouds,2023-01-13,1,single
2,1msEuwSBneBKpVCZQcFTsU,Forever & Always (Taylorâs Version),11,63,225328,False,Taylor Swift,100.0,145396321.0,[],4hDok0OAJd57SGIT8xuWJH,Fearless (Taylor's Version),2021-04-09,26,album
3,7bcy34fBT2ap1L4bfPsl9q,I Didn't Change My Number,2,72,158463,True,Billie Eilish,90.0,118692183.0,[],0JGOiO34nwfUdDrD612dOp,Happier Than Ever,2021-07-30,16,album
4,0GLfodYacy3BJE7AI3A8en,Man Down,7,57,267013,False,Rihanna,90.0,68997177.0,[],5QG3tjE5L9F6O2vCAPph38,Loud,2010-01-01,13,album
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8773,58VTP6KnZs12PcAj5rMJ4W,the fruits,1,65,209698,False,Paris Paloma,66.0,786890.0,[],48ssTnnFOCIP17sRaFNqu1,the fruits,2022-04-29,1,single
8774,2dRfUOeTVpr4V4PmmqGkpm,Dark World Theme (The Legend of Zelda),4,2,113143,False,Zelda,8.0,3263.0,[],0JJAfVZtn3EvZnXSQrpLSh,The Legend of Zelda,2023-08-19,7,album
8775,37F0uwRSrdzkBiuj0D5UHI,Reminder,4,81,218880,True,The Weeknd,94.0,113039308.0,[],2ODvWsOgouMbaA5xf0RkJe,Starboy,2016-11-25,18,album
8776,42qNWdLKCI41S4uzfamhFM,Duvet,1,84,203600,False,bÃ´a,68.0,1188508.0,[],7sGYAV0xv7ZfAMzIpMl8m1,Twilight,2001-03-21,14,album
8777,7KZJnMtwu2s80jO5Frthap,So Much Better,4,33,261385,True,Eminem,88.0,104584370.0,"['rap', 'hip hop']",3vOgbDjgsZBAPwV2M3bNOj,The Marshall Mathers LP2,2013-11-05,16,album

In [8]:
df_billboard

,No.,Title,Artist(s),Year
0,1,Prisoner of Love,Perry Como,1946
1,2,To Each His Own,Eddy Howard,1946
2,3,The Gypsy,Ink Spots,1946
3,4,Five Minutes More,Frank Sinatra,1946
4,5,Rumors Are Flying,Frankie Carle,1946
...,...,...,...,...
6784,96,Things a Man Oughta Know,Lainey Wilson,2021
6785,97,Throat Baby (Go Baby),BRS Kash,2021
6786,98,Tombstone,Rod Wave,2021
6787,99,Drinkin' Beer. Talkin' God. Amen.,Chase Rice featuring Florida Georgia Line,2021
6788,100,Todo de Ti,Rauw Alejandro,2021

In [9]:
df_billboard = df_billboard.rename(columns={
    "No.": "rank",
    "Title": "track",
    "Artist(s)": "artist_name",
    "Year": "year"
})

In [10]:
df_rock.columns

Index(['Track', 'Artist', 'Album', 'Year', 'Duration', 'Time_Signature',
       'Danceability', 'Energy', 'Key', 'Loudness', 'Mode', 'Speechiness',
       'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo',
       'Popularity'],
      dtype='object')

In [11]:
#Elimininamos columnas que no vamos a utilizar
df_rock = df_rock.drop(columns = ['Duration', 'Time_Signature',
       'Danceability', 'Energy', 'Key', 'Loudness', 'Mode', 'Speechiness',
       'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo'])

In [12]:
#verificacion de que se eliminaran 
df_rock

                               Track      Artist       Album  Year  Popularity
0                 Play A Simple Song  38 Special  38 Special  1977          16
1                        Four Wheels  38 Special  38 Special  1977          10
2                           Fly Away  38 Special  38 Special  1977          13
3                     Tell Everybody  38 Special  38 Special  1977          10
4             Just Wanna Rock & Roll  38 Special  38 Special  1977          11
...                              ...         ...         ...   ...         ...
14413                    Consumption      ZZ Top   La Futura  2012           9
14414  I Don't Wanna Lose, Lose, You      ZZ Top   La Futura  2012           8
14415            Have A Little Mercy      ZZ Top   La Futura  2012           8
14416                    Flyin' High      ZZ Top   La Futura  2012           9
14417              Heartache In Blue      ZZ Top   La Futura  2012           8

[14418 rows x 5 columns]

In [13]:
df_spotify.columns

Index(['track_id', 'track_name', 'track_number', 'track_popularity',
       'track_duration_ms', 'explicit', 'artist_name', 'artist_popularity',
       'artist_followers', 'artist_genres', 'album_id', 'album_name',
       'album_release_date', 'album_total_tracks', 'album_type'],
      dtype='object')

In [14]:
#Eliminamos columnas de df_spotify que no vamos a utilizar
df_spotify = df_spotify.drop(columns = ['track_id', 'track_number','track_duration_ms', 'explicit',
            'artist_popularity','artist_followers', 'album_id', 'album_total_tracks', 'album_type'])

In [15]:
#Verificamos que se hayan eliminado
df_spotify

,track_name,track_popularity,artist_name,artist_genres,album_name,album_release_date
0,3,61,Britney Spears,['pop'],The Singles Collection,2009-11-09
1,Clouds,67,BUNT.,['stutter house'],Clouds,2023-01-13
2,Forever & Always (Taylorâs Version),63,Taylor Swift,[],Fearless (Taylor's Version),2021-04-09
3,I Didn't Change My Number,72,Billie Eilish,[],Happier Than Ever,2021-07-30
4,Man Down,57,Rihanna,[],Loud,2010-01-01
...,...,...,...,...,...,...
8773,the fruits,65,Paris Paloma,[],the fruits,2022-04-29
8774,Dark World Theme (The Legend of Zelda),2,Zelda,[],The Legend of Zelda,2023-08-19
8775,Reminder,81,The Weeknd,[],Starboy,2016-11-25
8776,Duvet,84,bÃ´a,[],Twilight,2001-03-21
8777,So Much Better,33,Eminem,"['rap', 'hip hop']",The Marshall Mathers LP2,2013-11-05

In [16]:
#pasando todo a minusculas para unificar nombres de columnas
df_rock.columns = df_rock.columns.str.lower().str.strip().str.replace(" ", "_")

In [17]:
df_spotify

,track_name,track_popularity,artist_name,artist_genres,album_name,album_release_date
0,3,61,Britney Spears,['pop'],The Singles Collection,2009-11-09
1,Clouds,67,BUNT.,['stutter house'],Clouds,2023-01-13
2,Forever & Always (Taylorâs Version),63,Taylor Swift,[],Fearless (Taylor's Version),2021-04-09
3,I Didn't Change My Number,72,Billie Eilish,[],Happier Than Ever,2021-07-30
4,Man Down,57,Rihanna,[],Loud,2010-01-01
...,...,...,...,...,...,...
8773,the fruits,65,Paris Paloma,[],the fruits,2022-04-29
8774,Dark World Theme (The Legend of Zelda),2,Zelda,[],The Legend of Zelda,2023-08-19
8775,Reminder,81,The Weeknd,[],Starboy,2016-11-25
8776,Duvet,84,bÃ´a,[],Twilight,2001-03-21
8777,So Much Better,33,Eminem,"['rap', 'hip hop']",The Marshall Mathers LP2,2013-11-05

In [18]:
#modificamos nombre de la tabla spotify para que los nombres sean iguales
df_spotify = df_spotify.rename(columns= {'track_popularity': 'popularity', 'album_release_date' : 'year', 'album_name': 'album',
                    'track_name': 'track',   'artist_genres': 'genres'})

In [19]:
#verificamos los cambios
df_spotify

,track,popularity,artist_name,genres,album,year
0,3,61,Britney Spears,['pop'],The Singles Collection,2009-11-09
1,Clouds,67,BUNT.,['stutter house'],Clouds,2023-01-13
2,Forever & Always (Taylorâs Version),63,Taylor Swift,[],Fearless (Taylor's Version),2021-04-09
3,I Didn't Change My Number,72,Billie Eilish,[],Happier Than Ever,2021-07-30
4,Man Down,57,Rihanna,[],Loud,2010-01-01
...,...,...,...,...,...,...
8773,the fruits,65,Paris Paloma,[],the fruits,2022-04-29
8774,Dark World Theme (The Legend of Zelda),2,Zelda,[],The Legend of Zelda,2023-08-19
8775,Reminder,81,The Weeknd,[],Starboy,2016-11-25
8776,Duvet,84,bÃ´a,[],Twilight,2001-03-21
8777,So Much Better,33,Eminem,"['rap', 'hip hop']",The Marshall Mathers LP2,2013-11-05

In [20]:
df_rock

                               track      artist       album  year  popularity
0                 Play A Simple Song  38 Special  38 Special  1977          16
1                        Four Wheels  38 Special  38 Special  1977          10
2                           Fly Away  38 Special  38 Special  1977          13
3                     Tell Everybody  38 Special  38 Special  1977          10
4             Just Wanna Rock & Roll  38 Special  38 Special  1977          11
...                              ...         ...         ...   ...         ...
14413                    Consumption      ZZ Top   La Futura  2012           9
14414  I Don't Wanna Lose, Lose, You      ZZ Top   La Futura  2012           8
14415            Have A Little Mercy      ZZ Top   La Futura  2012           8
14416                    Flyin' High      ZZ Top   La Futura  2012           9
14417              Heartache In Blue      ZZ Top   La Futura  2012           8

[14418 rows x 5 columns]

In [21]:
#Cambiamos la columna year en spotify para quedanos solo con el año y lo pasamos a tipo int 
df_spotify['year'] = pd.to_datetime(df_spotify['year'], errors='coerce').dt.year
df_spotify['year'] = df_spotify['year'].astype('Int64')

In [22]:
df_spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   track        8776 non-null   object
 1   popularity   8778 non-null   int64
 2   artist_name  8774 non-null   object
 3   genres       8774 non-null   object
 4   album        8776 non-null   object
 5   year         8577 non-null   Int64
dtypes: Int64(1), int64(1), object(4)
memory usage: 420.2+ KB

In [23]:
#creando una columna genero para la tabla rock
df_rock['genres'] = 'rock'
df_rock

,track,artist,album,year,popularity,genres
0,Play A Simple Song,38 Special,38 Special,1977,16,rock
1,Four Wheels,38 Special,38 Special,1977,10,rock
2,Fly Away,38 Special,38 Special,1977,13,rock
3,Tell Everybody,38 Special,38 Special,1977,10,rock
4,Just Wanna Rock & Roll,38 Special,38 Special,1977,11,rock
...,...,...,...,...,...,...
14413,Consumption,ZZ Top,La Futura,2012,9,rock
14414,"I Don't Wanna Lose, Lose, You",ZZ Top,La Futura,2012,8,rock
14415,Have A Little Mercy,ZZ Top,La Futura,2012,8,rock
14416,Flyin' High,ZZ Top,La Futura,2012,9,rock
14417,Heartache In Blue,ZZ Top,La Futura,2012,8,rock

In [24]:
#df_rock_final = pd.concat([df_rock, df_spotify], axis=0, ignore_index=True, join='outer')

In [25]:
df_billboard["artist_clean"] = (
    df_billboard["artist_name"]
    .str.lower()
    .str.replace(r" featuring.*", "", regex=True)
    .str.replace(r" feat.*", "", regex=True)
    .str.replace(r"&.*", "", regex=True)
    .str.strip()
)

df_spotify["artist_clean"] = (
    df_spotify["artist_name"]
    .str.lower()
    .str.replace(r" featuring.*", "", regex=True)
    .str.replace(r" feat.*", "", regex=True)
    .str.replace(r"&.*", "", regex=True)
    .str.strip()
)

In [26]:
billboard_spotify = df_billboard.merge(
    df_spotify[["artist_clean", "popularity", "genres", "year"]],
    on="artist_clean",
    how="inner"
)

billboard_spotify.head()

,rank,track,artist_name,year_x,artist_clean,popularity,genres,year_y
0,29,Only You (And You Alone),The Platters,1955,the platters,0,['doo-wop'],2024
1,4,My Prayer,The Platters,1956,the platters,0,['doo-wop'],2024
2,12,The Great Pretender,The Platters,1956,the platters,0,['doo-wop'],2024
3,36,(You've Got) The Magic Touch,The Platters,1956,the platters,0,['doo-wop'],2024
4,17,A White Sport Coat (and a Pink Carnation),Marty Robbins,1957,marty robbins,71,"['classic country', 'outlaw country']",<NA>

In [27]:
billboard_spotify.tail()

,rank,track,artist_name,year_x,artist_clean,popularity,genres,year_y
39953,96,Things a Man Oughta Know,Lainey Wilson,2021,lainey wilson,69,['country'],2025
39954,98,Tombstone,Rod Wave,2021,rod wave,70,[],2025
39955,99,Drinkin' Beer. Talkin' God. Amen.,Chase Rice featuring Florida Georgia Line,2021,chase rice,57,"['country', 'acoustic country']",2014
39956,99,Drinkin' Beer. Talkin' God. Amen.,Chase Rice featuring Florida Georgia Line,2021,chase rice,55,"['country', 'acoustic country']",2014
39957,100,Todo de Ti,Rauw Alejandro,2021,rauw alejandro,78,"['reggaeton', 'urbano latino', 'trap latino', ...",2021

In [28]:
billboard_spotify.shape

(39958, 8)

In [29]:
billboard_spotify_clean = billboard_spotify[[
    "artist_name",
    "artist_clean",
    "year_x",
    "rank",
    "popularity",
    "genres"
]].rename(columns={
    "year_x": "billboard_year"
})

In [30]:
billboard_spotify_clean.groupby("artist_name")["popularity"].mean().sort_values(ascending=False).head(10)

artist_name
The Police                          90.0
Tears for Fears                     87.0
Coolio                              86.0
Coolio featuring 40 Thevz           86.0
a-ha                                86.0
Toto                                86.0
Gorillaz                            86.0
Coolio featuring L.V.               86.0
John Legend featuring André 3000    85.0
John Legend                         85.0
Name: popularity, dtype: float64

In [31]:
billboard_spotify_clean.groupby("artist_name", as_index=False)["popularity"].mean()

                            artist_name  popularity
0                              2 Chainz   63.500000
1              2 Chainz featuring Drake   63.500000
2                             21 Savage   62.285714
3          24kGoldn featuring Iann Dior   53.000000
4                                  2Pac   72.500000
..                                  ...         ...
930                Zedd featuring Foxes   77.000000
931      Zedd featuring Hayley Williams   77.000000
932                                a-ha   86.000000
933  will.i.am featuring Britney Spears   69.250000
934   will.i.am featuring Justin Bieber   69.250000

[935 rows x 2 columns]

In [32]:
billboard_spotify_clean["decade"] = (billboard_spotify_clean["billboard_year"] // 10) * 10

In [33]:
df_rock["artist_clean"] = (
    df_rock["artist"]
    .str.lower()
    .str.strip()
)

In [34]:
df_rock_artists = df_rock[["artist_clean"]].drop_duplicates()

In [35]:
billboard_spotify_labeled = billboard_spotify_clean.merge(
    df_rock_artists,
    on="artist_clean",
    how="left",
    indicator=True
)

In [36]:
billboard_spotify_labeled["is_rock"] = (
    billboard_spotify_labeled["_merge"] == "both"
)

billboard_spotify_labeled.drop(columns="_merge", inplace=True)

In [37]:
billboard_spotify_labeled["is_rock"].value_counts()

is_rock
False    39117
True       841
Name: count, dtype: int64

In [39]:
billboard_spotify_labeled.groupby(["decade", "is_rock"]).size().unstack(fill_value=0)

is_rock  False  True
decade
1950        14      0
1960       532     37
1970       216    291
1980       586    301
1990       848    186
2000      8487     26
2010     24226      0
2020      4208      0